@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
p{
    color: dimgray;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.btn {
	background-image: linear-gradient(orange,tomato);
	padding: 10px 40px;
	border-radius: 5px;
	color: #fff;

    font-weight: 700;
    text-decoration: none;
}
/*-------Header-area-------*/

.orange-color{
    color: #FFC864;
}

.header-width{
    width: 50%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;
}
.header-width img{
    width: 80%;
}
.btn {
	background-image: linear-gradient(orange,tomato);
	padding: 10px 40px;
	border-radius: 5px;
	color: #fff;

    font-weight: 700;
    text-decoration: none;
}
.header{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

/*-------Dream Section-------*/

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-width{
    width: 50%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
    margin-right: 10%;
}
.dream-width img{
    width: 100%;
}

/*-------Exprience-------*/

.ex-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
.ex-width{
    width: 50%;
    float: left;
    padding: 0 2%;
}
.ex-width h2{
    font-size: 37px;
}
.ex-devloper{
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    margin: 0 5%;
    height: 400px;
    width: 500px;
}
#ex-border-1{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#ex-border-2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}

/*-------Copyright--------*/

footer{
    text-align: center;
    padding-top: 50px;
}
